body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

.quote {
  display: inline-block;
  margin: 2em 1em;
}
.quote p {
  font-weight: 500;
}
.quote p .time-ago {
  font-size: 90%;
  color: #818d98;
}
.quote blockquote {
  color: #576776;
  margin: 0;
}
.quote .round-avatar {
  border-radius: 50%;
  border: 1px solid #E0E8ED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  float: left;
  margin-right: 0.5em;
}
.quote .speech-bubble {
  float: left;
}
.quote .speech-bubble.left {
  border: 1px solid #E0E8ED;
  border-radius: 6px;
  position: relative;
  margin-left: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 1ex 1em;
  background: #FDFDFE;
}
.quote .speech-bubble.left:after, .quote .speech-bubble.left:before {
  content: "";
  display: block;
  position: absolute;
}
.quote .speech-bubble.left:after {
  top: 16px;
}
.quote .speech-bubble.left:before {
  top: 14px;
}
.quote .speech-bubble.left:after {
  border: 8px solid transparent;
  border-right: 8px solid #FDFDFE;
  left: -8px;
  border-left: none;
}
.quote .speech-bubble.left:before {
  border: 10px solid transparent;
  border-right: 10px solid #E0E8ED;
  left: -10px;
  border-left: none;
}
.quote .speech-bubble.top {
  border: 1px solid #E0E8ED;
  border-radius: 6px;
  position: relative;
  margin-top: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 4px;
  margin-bottom: 4px;
  padding: 1ex 1em;
  background: #FDFDFE;
  clear: both;
  margin-left: 0;
  margin-top: 2ex;
}
.quote .speech-bubble.top:after, .quote .speech-bubble.top:before {
  content: "";
  display: block;
  position: absolute;
}
.quote .speech-bubble.top:after {
  left: 16px;
}
.quote .speech-bubble.top:before {
  left: 14px;
}
.quote .speech-bubble.top:after {
  border: 8px solid transparent;
  border-bottom: 8px solid #FDFDFE;
  top: -8px;
  border-top: none;
}
.quote .speech-bubble.top:before {
  border: 10px solid transparent;
  border-bottom: 10px solid #E0E8ED;
  top: -10px;
  border-top: none;
}
.quote .speech-bubble p {
  line-height: 1.3em;
  margin: 0;
}
